button:hover{
  cursor: pointer;
}

.generator {
  display: flex;
  flex-direction: row;
}

.namescontainer {
  margin: 2em;
}

.teamscontainer {
  margin: 2em;
}

.generatecontainer {
  display: flex;
  flex-direction: column;
}

.generateButton {
  margin-top: 1em;
}

.namelist {
  border: 2px solid;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  text-align: left;
  position: relative;
}

.teamlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}

.teamlistelement {
  min-width: 50%;
}

.namebox {
  margin: 1em 0;
  width: auto;
}

.removebutton {
  position: absolute;
  right: 0;
  border: 0;
  background: none;
  font-weight: bold;
}

.teamboxcontainer {
  display: flex;
}

.dropdownmenu {
  width:3em;
}